* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(35, 31, 32, 0.05);
    max-height: 928px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.bg-orange {
    background: linear-gradient(180deg, #FFFFFF -260.71%, rgba(255, 255, 255, 0) 100%), #EF7B10;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.bg-blanco {
    background-color: #FFFFFF;
    width: 100%;
    height: 50%;
}

.logo-form img {
    height: 64px;
    width: auto;
    display: block;
    margin: 32px auto;

}

.logo-principal {
    margin-top: 32px;
    margin-bottom: 40px;
}

input {
    width: 316px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E9CAA8;
    padding-left: 16px;
    font-weight: 300;
    margin: 0 auto 24px auto;
    display: block;
}

input::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #231F20;
}

.formulario {
    background-color: #FFFFFF;
    height: 440px;
    width: 388px;
    border-radius: 16px;
    position: relative;
    margin: auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.formulario button {
    width: 192px;
    height: 40px;
    background: linear-gradient(180deg, #FFFFFF -260.71%, rgba(255, 255, 255, 0) 100%), #231F20;
    border-radius: 38px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;   
    font-weight: 900;
    display: block;
    margin: 0 auto;
    border: 0;
}

.formulario button a {
    text-decoration: none;
    color: #FFFFFF;
} 

.formulario button:hover {
    background: linear-gradient(180deg, #FFFFFF -260.71%, rgba(255, 255, 255, 0) 100%), #AC4508;
}

.pequeño {
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 56px;
    margin-left: 40px;
    margin-top: -8px;
}

.menu {
    background-color: #FFFFFF;
    width: 23%;
    height: 928px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido {
    width: 77%;
    padding-top: 88px;
    padding-left: 40px;
    padding-right: 40px;
}

.noticias, .calendario, .eventos {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    height: 260px;
}

.noticias {
    width: 672px;
    display: flex;
    padding: 24px;
    align-items: center;
}

.calendario {
    width: 320px;
    padding: 24px;
}

.linea, .linea-dos {
    display: flex;
    justify-content: space-around;
}

.caja-large {
    width: 672px;
}

.caja-short {
    width: 320px
}

.seccion {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #AC4508;
}

.avisos {
    height: 300px;
    display: flex;
    justify-content: space-between;
   
}

.avisos-dentro {
    height: 300px;
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.linea-dos {
    margin-top: 60px;
}

.opciones-menu {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    margin-bottom: 120px;
}

.opciones {
    width: 240px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 24px;
}

.opciones:hover {
    background: linear-gradient(180deg, #FFFFFF -260.71%, rgba(255, 255, 255, 0) 100%), #EF7B10;
    box-shadow: 0px 2px 10px rgba(239, 123, 16, 0.4);
    border-radius: 8px;
}

.boton-close {
    border-radius: 50px;
    border: 1px solid #231F20;
    height: 40px;
    width: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.boton-close a {
    text-decoration: none;
    color: #231F20;
}

.opciones svg, .opciones-menu svg {
    margin-right: 16px;
}

.legales {
    text-align: center;
    color: #EF7B10;
    margin-bottom: 24px;
}

.link {
    color: #EF7B10;
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.profile .foto img {
    width: 68px;
}

.profile {
    min-width: 236px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
}

.avisos-dentro {
    padding: 16px;
}

.avisos-dentro img {
    width: 168px;
    height: 120px;
    margin-bottom: 16px;
}

.eventos {
    width: 320px;
    height: 92px;
    display: flex;
    margin-bottom: 12px;
}

.day {
    font-weight: 900;
    font-size: 28px;
    margin: 0;
}

.square-date {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;
   background-color: #EF7B10;
   border-radius: 4px;
   height: 31px;
   width: 62px;
}

.month {
    font-size: 12px;
    margin: 0;
}

.square-left {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square-right {
    width: 61%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nombre-evento {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.horario {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.linea-dos .caja-short {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    width: 70%;
}

.img-description {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.header-calendario {
    display: flex;
    justify-content: space-between;
}

.month-cal {
    font-size: 20px;
    font-weight: 800;
    color: #EF7B10;
}

.week {
    display: flex;
    justify-content: space-between;
}

.week p {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.days {
    display: flex;
    justify-content: space-between;
}

.days p {
    text-align: center;
    margin: 2px 0;
    font-size: 14px;
    font-weight: 300;
}

.weekend {
    color: #EF7B10;
}

.m-before {
    color: #231F20;
    opacity: .25;
}

.opciones-inicio {
    background: linear-gradient(180deg, #FFFFFF -260.71%, rgba(255, 255, 255, 0) 100%), #EF7B10;
    box-shadow: 0px 2px 10px rgba(239, 123, 16, 0.4);
    border-radius: 8px;
    width: 240px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 24px;
    color: #FFFFFF;
}

.opciones-menu svg {
    fill: #FFFFFF;
}